<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments.html :: head">
</head>

<body>
	<div th:replace="fragments/fragments.html :: header"></div>
	<main class="container">
		<div class="row">
			<div class="col-1">
				<a th:href="@{/cours/liste}"><i class="fa fa-chevron-left"></i></a>
			</div>
			<div class="col-11">
				<h3 class="title" th:text="#{cours.update}">Modification d'un cours</h3>
				<hr>
			</div>
		</div>
		
		<div th:errors="${cours.*}" class="border pl-3 bg-warning">Toutes les erreurs</div>
		
		<form method="post" th:object="${cours}" th:action="@{|/cours/${cours.code}/update|}" class="form">
			<div class="form-group">
				<label for="code" th:text="#{cours.code}"></label> 
				<input	type="text" th:field="*{code}" class="form-control" 
						th:classappend="${#fields.hasErrors('code')} ? is-invalid" disabled="true" required />
			</div>
			<div class="form-group">
				<label for="nom" th:text="#{cours.nom}"></label> 
				<input type="text" th:field="*{nom}" class="form-control"
						th:classappend="${#fields.hasErrors('nom')} ? is-invalid" required />
				<small id="error_nom" th:errors="*{nom}" class="form-text text-danger">Erreur Nom</small>
			</div>
			<div class="form-group">
				<label for="nbPeriodes" th:text="#{cours.nbPeriodes}"></label>
		 		<input	type="text" th:field="*{nbPeriodes}" class="form-control"
		 				th:classappend="${#fields.hasErrors('nbPeriodes')} ? is-invalid" required /> 
		 		<small id="error_nbPeriodes" th:errors="*{nbPeriodes}" class="form-text text-danger">Erreur nbPériodes</small>
			</div>
			<div class="form-group checkboxSection">				  						
				<div class="custom-control custom-checkbox custom-control-inline" th:each="choixSection : ${listeDesSections}">						 
					<input type="checkbox"  class="custom-control-input" value="Une Section"
							th:field="*{sections}" th:value="${choixSection}"/> 
					<label  class="custom-control-label"
							th:for="${#ids.prev('sections')}" th:text="'&nbsp&nbsp'+${choixSection}">Info
					</label>
				</div>				
				<small th:errors="*{sections}" class="form-text text-danger">Erreur Section</small>				
			</div>
			
			<div class="btn-form"><button type="submit" class="btn btn-outline-primary anim"><span th:text="#{action.update}"></span></button></div>
		</form>
		<!-- DELETE -->
		<div class="cancel"><a type="submit" class="btn btn-outline-danger" th:href="@{/cours/liste}"><span th:text="#{action.cancel}"></span></a></div>
	</main>
	<div th:replace="fragments/fragments.html :: scripts"></div>
	<div th:replace="fragments/fragments.html :: theme"></div>
	<div th:replace="fragments/fragments.html :: footer"></div>
</body>
</html>